<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" class="h-100">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th th:text="#{label.orderdate}"></th>
				<th th:text="#{label.orderamount}"></th>
				<th th:text="#{label.ordercustomersurname}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="o : ${orders}">
				<td th:text="${#dates.format(o.date, 'dd-MM-yyyy')}"></td>
				<td
					th:text="'Euro ' + ${#numbers.formatDecimal(o.totalPrice,0,'POINT',2,'COMMA')}"></td>
				<td th:text="${o.customer.surname}"></td>
				<td class="text-end"><a th:href="@{/reservedOrders(id=${o.id})}" th:text="#{btn.edit}"></a>
					<a th:href="@{/deleteconfirm(id=${o.id}, type='order')}" th:text="#{btn.delete}"></a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>