<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" class="h-100">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead> 
			<tr>
				<th th:text="#{label.name}"></th>
				<th th:text="#{label.description}"></th>
				<th th:text="#{label.price}"></th>
				<th th:text="#{label.date}"></th>
				<th th:text="#{label.type}"></th>
				<th th:text="#{label.available}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p : ${products}">
				<td th:text="${p.name}"></td>
				<td th:text="${p.description}"></td>
				<td th:text="${p.price}"></td>
				<td th:text="${#dates.format(p.date, 'dd-MM-yyyy')}"></td>
				<td th:text="${p.type}"></td>
				<td th:text="${p.available}"></td>
				<td><a th:href="@{/reservedProducts(id=${p.id})}" th:text="#{btn.edit}"></a>
					<a th:href="@{/deleteconfirm(id=${p.id}, type='product')}"
					th:text="#{btn.delete}"></a></td>
			</tr>
		</tbody>
	</table>
	<form method="POST" th:object="${product}">
		<input type="text" id="name" th:field="*{name}" required="required">
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> </p><br>
		<input type="text" id="description" th:field="*{description}" required="required">
		<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"> </p><br>
		<input type="number" id="price" step="any" th:field="*{price}" required="required">
		<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"> </p><br>
		<input type="date" id="date" th:field="*{date}">
		<p th:if="${#fields.hasErrors('date')}" th:errors="*{date}"> </p> <br> 
		<input type="number" id="type" th:field="*{type}" required="required">
		<p th:if="${#fields.hasErrors('type')}" th:errors="*{type}"> </p><br>
		<input type="number" id="available" th:field="*{available}" required="required">
		<p th:if="${#fields.hasErrors('available')}" th:errors="*{available}"> </p><br>
		<input type="submit" value="registra">
	</form>
</body>
</html>