<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" class="h-100">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"/>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="style.css">
        <link th:href="@{static/css/style.css}" rel="stylesheet"></link>
</head>
<body>
<body  class="d-flex flex-column h-100">
        <!--header-->
        <div class="container">
            <header>
                <div id="header">
                  <a th:href="@{WEB-INF/view/carrello.html}"> <img th:src="@{static/image/carrello.jpg}"
					class="rounded-circle" id="carrello"></a>
                </div>
            </header>
            <nav class="navbar navbar-expand-lg">
                  <a class="navbar-brand" th:href="#"><img th:src="@{static/image/logo.png}" style="max-width:360px;"></a>
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
                    <div class="btn-group">
                      <a button type="button" class="btn btn-secondary" th:href="@{WEB-INF/view/pagina_iniziale.html}"> Home </a>
               <div class="btn-group">
               <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> Shop </button>
               <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{WEB-INF/view/prodotto_tre.html}"><strong>Novità</strong></a></li>
                <li><a class="dropdown-item" th:href="@{WEB-INF/view/shop.html}">CD</a></li>
                <li><a class="dropdown-item" th:href="@{WEB-INF/view/prodotto_tre.html}">LP</a></li>
               </ul></div>
               <div class="btn-group">
               <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Eventi</button>
              <ul class="dropdown-menu">   
                <li><a class="dropdown-item" th:href="@{WEB-INF/view/eventi.html}"><strong>Vedi tutto</strong></a></li>
                 <li><a class="dropdown-item" th:href="@{WEB-INF/view/eventi.html}">Le date passate</a></li>
                 <li><a class="dropdown-item" th:href="@{WEB-INF/view/eventi1.html}">Le prossime date</a></li>
              </ul> </div> 
                  <form class="d-flex" id="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
            </nav>  
<!--taabelle-->
<div class="col-9 bg-light text-center">
	<table class="table table-striped table-responsive">
		<thead> 
			<tr>
				<th th:text="#{label.name}"></th>
				<th th:text="#{label.description}"></th>
				<th th:text="#{label.price}"></th>
				<th th:text="#{label.date}"></th>
				<th th:text="#{label.type}"></th>
				<th th:text="#{label.available}"></th>
			</tr>
			
		</thead>
		<tbody>
			<tr th:each="p : ${products}">
				<td th:text="${p.name}"></td>
				<td th:text="${p.description}"></td>
				<td th:text="${p.price}"></td>
				<td th:text="${#dates.format(p.date, 'dd-MM-yyyy')}"></td>
				<td th:text="${p.type}"></td>
				<td th:text="${p.available}"></td>
				<td><a th:href="@{/reservedProducts(id=${p.id})}" th:text="#{btn.edit}"></a>
					<a th:href="@{/deleteconfirm(id=${p.id}, type='product')}"
					th:text="#{btn.delete}"></a></td>
			</tr>
		</tbody>
	</table></div>
	<div class="col-1"></div>
				<div class="col-4">
	<form method="POST" th:object="${product}" id="formP">
		<input type="text" id="name" th:field="*{name}" required="required">
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> </p>
		<input type="text" id="description" th:field="*{description}" required="required">
		<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"> </p><br>
		<input type="number" id="price" step="any" th:field="*{price}" required="required">
		<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"> </p>
		<input type="date" id="date" th:field="*{date}">
		<p th:if="${#fields.hasErrors('date')}" th:errors="*{date}"> </p> <br> 
		<input type="number" id="type" th:field="*{type}" required="required">
		<p th:if="${#fields.hasErrors('type')}" th:errors="*{type}"> </p>
		<input type="number" id="available" th:field="*{available}" required="required">
		<p th:if="${#fields.hasErrors('available')}" th:errors="*{available}"> </p><br>
		<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Registra
           </a> <br>
	</form>
    </div>
    
	 <footer>
        <div id="footer">
            <img th:src="@{static/image/login.jpg}" class="rounded-circle">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal" id="adminbtn">Admin Area</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Inserisci i
                                tuoi dati per accedere all'area riservata</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="login" method="POST">
                                <p>Inserisci username</p>
                                <input type="text" id="username" name="username"
                                    required="required"><br>
                                <p>Inserisci password</p>
                                <input type="password" id="password" name="password"
                                    required="required"> <br>
                                <br> <input type="submit" value="Accedi">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <p>
                <img th:src="@{static/image/clienti.webp}" class="rounded-circle" id="assist"> <a
                    class="btn btn-primary" id="assistenzabtn"
                    data-bs-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Assistenza clienti </a>
            </p>
            <div class="collapse" id="collapseExample"
                style="max-width: 700px; padding: 5px;">
                <div class="card card-body">
                    Puoi contattarci da lunedì a domenica dalle ore 8:30 alle ore
                    21:00, al numero 0291948377. <br> I costi della chiamata sono
                    legati all'operatore utilizzato.
                </div>
            </div>
        </div>
        <div id="pp">
            <h6>
                La nostra azienda partner<br> per i pagamenti:
            </h6>
        </div>
        <a href="https://www.paypal.com/it/home"> <img th:src="@{static/image/paypal.png}"
            id="paypal"></a>
    </footer>
</div>
<!--footer-->

</body>
</html>