.rounded-circle {
    background-color: black;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 67px;
    margin-left: 18px;

}

a {
    text-decoration: none;
    color: navy;
}

header {
    background: linear-gradient(blue,cornflowerblue);
    width: auto;
    height: 100px;   
}

#pulsante{
    background-color: cornflowerblue;
    float: left;
    margin-top: 65px;
    margin-left: 10px;
    border: 2px;
}

.btn-group {
    margin-left: 10px;
}

#search {
    float: left;
    margin-left: 35px;
    width: 400px;
}

.navbar {
    background-color: antiquewhite;
}

footer {
    background: linear-gradient(blue,cornflowerblue);  
    width: auto;
    height: 150px;   
} 
#assistenza{
    background-color: cornflowerblue;
    margin-top: 65px;
    margin-left: 15px;

}

#assist {
    background-color: black;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 67px;
    margin-left: 18px;

}

/*.card {
    width: 800px;
    margin-bottom: 3px;
}*/

#numeri {
   margin-left: 500px;
}

#konzert{
    width: 310px;
    height: 720px;
     float: right;
}

#event{
    margin-left: 2px;
}

#konzert3{
    width: 310px;
    height: 655px;
     float: right;
}

.pulsanti{
    background-color: cornflowerblue;
    float: right;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 20px;
    border: 2px;
}